<h1>My Bookings</h1>
    <%current_user.performances.each do |performance| %>

  <h1><%= performance.show.title %></h1>
  <p>Show:<%= performance.venue.name %></p>
  <p>Date:<%= performance.date %></p>



  <%end%>
