<h1>My Bookings</h1>
    <%@bookings.each do |booking| %>

    <% if booking.performance %>
  <h1><%= booking.performance.show.title %></h1>
  <p>Show:<%= booking.performance.venue.name %></p>
  <p>Date:<%= booking.performance.date %></p>
  <% end %>



  <%end%>
