/*APPLICATION STYLE DIVS AND CLASSES
 
 */
 html body {
   background-color: dimgrey;

 }

 header {
   height: 300px;
   background-color: #333333;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8f/DarkSideOfTheMoon1973.jpg);
   background-position: center;
   background-repeat: no-repeat;
   top: 0px;
 }



 footer {
   height: 100px;
   background-color: #333333;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8f/DarkSideOfTheMoon1973.jpg);
  background-position: center;
  background-repeat: no-repeat;
 }

 nav {
 background-color: #333333;
 height: 65px;
 line-height: 65px;
 }

 nav ul {
 padding-left: 0px;
 margin: 0;
 list-style-type: none;
 display: inline-block;
 
 }

 nav ul li {
   display: inline-block;
   margin-right: 20px;
 }

 nav ul li a {
   color: white;
   font-size: 12px;
   font-weight: 100;
   text-decoration: none;}


 .current_user {
  color: white;
  font-size: 12px;
  font-weight: 100;
  float: left;
}

 .logo {
 color: white;
 font-size: 20px;
 font-weight: 600;
 margin-right: 20px;
 display: inline-block; 
 float: left;
 }

 .account_buttons {
  color: white;
  font-size: 12px;
  font-weight: 100;
  float: right;
 }

/*Main Search Form*/
 #search-form {
  text-align: center;
  display: block;
 }
 .search_button {
  position:relative;
  padding:8px 15px;
  left:-8px;
  border:2px solid rgb(35,45,66);
  background-color: white;
  color: rgb(35,45,66);
 }
 .search_button:hover {
   background: #e80e44;
   text-decoration: none;
 }
 .search_placeholder {
  padding:8px 15px;
  background: white;
  border:0px solid #dbdbdb;
 }

 /*Genre DropDown */

 .search_button_genre {
  position:relative;
  padding:7px 15px 5px 15px;
  left:-8px;
  border:2px solid rgb(35,45,66);
  background-color: white;
  color: rgb(35,45,66);
 }
 .search_button_genre:hover {
   background: #e80e44;
   text-decoration: none;
 }
 #genre_id {
  font-size: 24px;
  background: white;
  border:0px solid #dbdbdb;
  color: rgb(35,45,66);
 }

 /* Site Links */

 .site-links{

  background-color: transparent;
  width: 100%;
  text-align: center;
  padding-left: 0px;
  margin: 15px;
  list-style-type: none;
  display: inline-block;
  
 }

 ul[class="site-links"] li  {
  
  display: inline-block;
  margin-right: 20px;
  c
 }

 ul[class="site-links"] li a[class="btn"] {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 30px;
 }

 /*  */

 .b {
  font-weight: bold;
 }


 .performance_div {
  border-style: solid;
  border-width: 5px;
  display: inline-block;
 }

 /* SEARCH BOXES */
.container_main {
  width: 70%;
  margin: 0 auto;
  background-color: transparent;
  margin-top: 10px;
  height: 1500px;
  overflow: scroll;
  }
 
 .container  {
   width: 100%;
   margin: 0 auto;
   background-color: transparent;
   margin-top: 10px;
  
 }

 .row {

   display: block;
   
   margin: 0 -10px;
   
 }

 .row-main {

   display: block;
   overflow: scroll;
   margin: 0 -10px;
   
 }

 .grid {
   display: inline-block;
   vertical-align: top;
   
   
   padding: 0 10px;
   box-sizing: border-box;
   margin: 0 -10px;


 }

 .grid-1 {
   width: 8.3333333%;
 }

 .grid-2 {
   width: 16.666666%;
 }

 .grid-3 {
   width: 25%
 }

 .grid-4 {
 width: 33.3333%

 }

 .grid-5 {
   width: 41.666%
   }

 .grid-6 {
   width: 50%
  
 }

 .grid-7 {
   width: 58.33333%
 }

 .grid-8 {
   width: 66.6666%
 }

 .grid-9 {
   width: 75%
 }

 .grid-10 {
   width: 83.333333%
 }

 .grid-11 {
   width: 91.6666666%
 }

 .grid-12 {
   width: 100%
 }

 /* PANEL COMPONENTS*/

 .panel {
    padding-top: 10px;
   margin-bottom: 15px;
   background-color: white;
   text-align: center;
   line-height: 1rem;
   height:500px;
   overflow: scroll;

  
 }
  .panel-heading {
   padding: 15px 20px;
   font-size: 26px;
   color: white;
   background-color: black

  }

  .panel-body  {
   padding: 15px 20px;

  }

  .panel-footer {
   padding: 8px 20px;
   background-color: ;
  }

  .panel-primary .panel-heading {
   background-color: black;
  }

  /*Performance*/

  .show_name{
    font-size: 1.5rem;
  
  }

  .booked {
    display: inline-block;
    color: red;
    margin: 2.5px;

  }

  .thumbnail {
    max-width:100%;
    max-height:100%;

  }
